<div class="jumbotron">
    <h1>IT Supporting Service Web API</h1>
    <p class="lead">This project is designed for ELTE University IT Faculty , Computer Science MSc Service Science course as second assignment. BPMN has been attached to the project documents.</p>
    <p> @Html.ActionLink("API »", "Index", "Help", new { area = "" }, new { @class = "btn btn-primary btn-lg" }) &nbsp; <a href="https://drive.google.com/file/d/0B4bkMct_kXoyc2dsbU1GbjMtbkk/view?usp=sharing" class="btn btn-primary btn-lg"> BPMN DrawIO </a> </p>
    <div class="row">
        <a href="~/Content/Assets/Screenshot_5.jpg">
            <img class="img-responsive" src="~/Content/Assets/Screenshot_5.jpg" />
        </a>
    </div>
</div>